.image_about{
    height: 50vw;
    width: 100%;
}
/* rgb(186, 129, 8) */

.about_body {
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.about_pic{
    width: 70%;
}

.about_heading{
   padding-top: 5%;
   padding-bottom: 5%;
   margin-top: 2%;
   margin-bottom: 2%;
    width: 100%;
      font-size: 4rem;
      text-align: center;
    color: white;
    background-color: rgba(37, 27, 1, 0.8);

}
.pic_row_about{
   
    background-image: url('../images/dog7.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.about_text{

    background-color: white;
    opacity: 0.8;
    /* border-left: 2px solid rgba(218, 165, 32);
    border-left: 2px solid #daa520; */
    margin-top: 1%;

 
    padding: 4%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 75%;
    color: black;
    font-weight: 300;



}

@media screen and (max-width: 770px) {
    .about_text{

        background-color: white;
        opacity: 0.8;
        /* border-left: 2px solid rgba(218, 165, 32);
        border-left: 2px solid #daa520; */
        margin-top: 1%;
    
     
        margin: 7%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 100%;
        color: black;
        font-weight: 300;
    
    
    
    }
}


.afbr_heading{
    font-size: 3rem;
    color: rgba(218, 165, 32);
    font-weight: 600;
    
    
}

.about_main{
    background-color: inherit;
    color: black;
}

.image_row{
    width: 100%;
}