/* .App{
  background-image: url('../images/logo2ee.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
} */

:root{
  --yellow: #ba8108;
}
@keyframes homestuff {
    
  0% {
      background-image: url('../images/mzv.jpg');
      background-repeat: none;
      background-position: center;
      background-size: cover;
  }
  20% {
    background-image: url('../images/dog11.jpeg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-color: white;
    color: red;

  }
  50% {
    background-image: url('../images/doga1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-color: white;
    color: red;

  }


}

@keyframes enlarge {
  0%  {font-size: 4.0vw;}
  25% {font-size: 4.2vw;}
  50% {font-size: 4.4vw;}
  75% {font-size: 4.5vw;}
}

@keyframes pedigree {
  0% {background-color: inherit;
  } 
  5% {background-image: url('../images/pedigree1.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: black;}
  80% {
    background-image: url('../images/pedigree1.png');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: black;
  text-align:left;
  padding: 10%;
  }
}


@keyframes worldbackground {
  0% {background-color: inherit;
    color: white;
  } 
  5% {background-image: url('../images/world1.jpeg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: black;}

  20% {background-image: url('../images/dog1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: white;}

  34% {background-image: url('../images/dog9.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: white;}

  40% {background-image: url('../images/dog10.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: white;}

  50% {background-image: url('../images/dog3.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: white;}

  75% {background-image: url('../images/dog1.jpg');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  color: white;}
  80% {
    background-image: url('../images/africa2.jfif');
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  100% {
      background-image: url('../images/africa2.jfif');
      background-repeat: none;
      background-position: center;
      background-size: cover;
      color: white;
    
  color: black;
  text-align:left;
  padding: 10%;
  }
}


.navbar {
  width: 100%;
  text-align:center;
  font-size: 100%;
  font-weight: 350;
  /* padding: 3%; */
  /* background-color: rgba(218, 165, 32); */
  color: white;
  /* margin-bottom: 2%; */
  
}
/* rgb(186, 129, 8)) */
.navtitle{
  /* background-image: linear-gradient(to left, white, rgb(186, 129, 8)); */
  width: 100%;
  background-color: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
}

/* rgb(186, 129, 8) */

.nav-link{
  background-color: inherit; 
  padding: 0%;
  margin-left: 3%;
  width: 100%;
  font-size: 100%;
  color: black;
  font-size: 1rem;
  /* border-bottom: 1px solid rgb(186, 129, 8); */
  
}

.nav-link:hover{
  /* font-size: 2vw; */
  background-color: rgb(182, 151, 84);
  color: white;
}

.nav-item {
  background-color: inherit;
  
  color: black;
  font-size: 1.6vw;
  font-weight: 450;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.nav-item:hover{
  /* font-size: 2vw; */
  color: white;
}



.navbar-light{
  font-size: 1.6vw;
  width: 100%;
}




@media screen and (min-width: 768px) {
  .homeMessage {
  padding: 7%;
  padding-bottom: 13%;
  padding-top: 15%;
  /* background-color: rgba(21, 20, 19, 0.8); */
  background-image: linear-gradient(to right, black, rgb(63, 46, 11), transparent)
  ;
  /* border-right: 10px solid  rgb(186, 129, 8); */

  font-size: 10VW;

  font-weight: 500;
  color: white;
  text-align: left;
 
  /* padding-left: 10%;
  padding-top: 50%;
  padding-bottom: 50%; */
  padding-left : 3%;
  /* margin-left: 1%; */
  position: absolute;
  
  /* border-top-right-radius: 90%; */
  top: 0%;
  z-index: 2;
  width: 50%;
  font-family:serif;
  
  display: flex;
  flex-direction: column;
  height: 100%;
  
  /* visibility: hidden; */
 

}
}






.home_full{
  padding-top: 5%;
}

.homeorow_changed{
  background-color: #ba8108;
}

.carousel{
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 770px) {
  .carousel-inner {
    position: relative;
    /* width: 100%; */
    overflow: hidden;
    /* max-width: 80%; */
    max-height: 500px;
    min-height: 500px;
    /* height: 100%; */
    width: 100%;
    display: flex;
    /* border-radius: 0%; */
    /* border: 1px solid white; */
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
  
  
}

.height_full{
  height: 50%;
  max-height: 50%;
  min-height: 50%;
}

.carousel-inner .item{ 
  height:500px; 
  background-size:cover;
  background-position: center center;}

}


@media screen and (min-width: 770px) {
  .homerow{
    /* background-image: url('../images/mzv2.jpg');
    background-position: center;
    background-repeat: no repeat;
    background-size: cover; */
    /* background-color: var(--yellow); */
    /* background-image: linear-gradient(to top, var(--yellow),#e4b144); */
    display: flex; 
    /* background-color: #918d83; */
    position: relative;
    /* animation-name: homestuff;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; */
    
  }
}


.homepic{
  background-image: url('../images/mzv5.jpg');
  background-position: right;
  background-repeat: no repeat;
  background-size: cover;
  background-color: blue;
  width: 100%;
  display: flex;
  
  
}


.title{
  background-color: inherit;
  padding: 1%;
  padding-top: 0%;
  font-size: 4vw;
  text-align: center;
  color:  #ba8108;
  /* animation-name: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease; */
  border-top: 6px solid #ba8108;

}



@media screen and (min-width: 770px) {
    
.register1{
  background-color: inherit;
  /* padding: 10%; */
  margin-top: 10%;
  font-size: 4vw;
  /* text-align: center; */
  color: white  ;
  background-color: #1e1e1d;
  background-image: url('../images/logo2e.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode:hard-light;
  background-size: cover;
  border-left: 6px solid rgba(255, 255, 255, 0.249);
  display: flex;
  height: 100%;

}
}



@media screen and (min-width: 770px) {
  
.gallery{
  background-color: inherit;
  padding:5%;

  font-size: 4vw;
  text-align: center;
  color: #ba8108;
  /* animation-name: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;  */
  /* border-bottom: 6px solid black;
  display: flex; */

}
}
.yellow_row{
  background-color: #d8bc6f76;
  /* background-image: linear-gradient(to right, white, black, black); */
  /* animation-name: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;  */
  /* border-bottom: 6px solid black;
  display: flex; */

}

  
  .gallery_row{
    background-color: #d9d9d976;
    /* background-image: linear-gradient(to right, white, black, black); */
    /* animation-name: enlarge;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;  */
    /* border-bottom: 6px solid black;
    display: flex; */
  
  }
  

@media screen and (min-width: 770px) {
  .pedigree{
    background-color: inherit;
    padding: 10%;
    font-size: 3.0vw;
    text-align: center;
    color: white;
    animation-name: pedigree;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  
  }
  
}

.globe{
  background-color: inherit;
  padding: 10%;
  font-size: 3.0vw;
  text-align: center;
  color: black;
  animation-name: worldbackground;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  
}

@media screen and (min-width: 770px) {
  
.partners{
  background-color: inherit;
  padding: 1%;
  font-size: 4vw;
  text-align: center;
  color: white;
  animation-name: enlarge;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  border-right: 6px solid #ba8108;
  display: flex;
  position:relative;
}
}

@media screen and (min-width: 770px) {
  .partners_image{
    width: 80%;
   
   }
}
@media screen and (max-width: 770px) {
  .partners_image{
    width: 60%;
    padding: 10%;
    border-bottom: 3px solid #ba8108 ;
   }
}


.profile_dog_card{
  background-color: rgb(59, 24, 24);
  
}

@media screen and (min-width: 770px) {
  .partners_row{
    background-color: white;
    padding: 2%;
    border-top: 3px solid #ba8108;
    border-bottom: 3px solid #ba8108;
  
  }
}

@media screen and (max-width: 770px) {
  .partners_row{
    background-color: white;
    padding: 2%;
    
  
  }
}

@media screen and (min-width: 770px){
  .tree{
    /* margin-top:5%;
    margin-bottom: 5%; */
    padding-top: 5%;
    padding-bottom: 5%;
    width: 75%;
  }
  }

.card_row{
  padding: 2%;
  background-color: #ba8108;
  margin-top: 5%;
  
}

.footer_full{
  background-image: url('../images/logo2ee.jpg');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  color: white;
}
.profile_footer_full{
  background-color: #353330;
}

.col-sm-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.col-sm-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.col-sm-{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.col-sm-11{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.crowd{
  width: 100%;
}

.homelogo{
  width: 70%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}