.profile{
    /* border-top: 1px solid rgb(186, 129, 8); */
    border-bottom: 1px solid rgb(186, 129, 8);


    background-color: white;
    background-color: rgba(208, 213, 218, 0.5);
    color: black;
    padding: 5%;
    font-weight: 200;
}

.profil-card{
    border-top: 1px solid rgb(186, 129, 8);
    border-bottom: 1px solid rgb(186, 129, 8);
    background-color: inherit;
    color: black;
    padding: 5%;
    font-weight: 200;
}

.profile_card_p{
    color: black;
    font-size: 3vw;
}
a {
    color: black;
}
.profile_main{
    /* background-color: rgba(218, 165, 32); */
    background-color: inherit;
    text-align: center;
    padding-left: 5%;
    font-size: 2vw;
    border-left:3px solid rgb(186, 129, 8);
    color: white;
}
/* 
rgb(186, 129, 8) */

.render_card{
    background-color: ;
    margin-top: 1%;
    font-weight: 200;

}
.pro_nav{
    padding: 3%;
    color: white;
    
}

.pro_nav_col{
    border-bottom: 5px solid rgb(186, 129, 8);
    background-color: rgba(208, 213, 218, 0.3);
    color:white;
    

}

.render_card_image{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.row_edit{
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: inherit;
}
.card_ {
    background-color: inherit;
    
    font-size: 1.5vw;
    text-align: center;
    
    color: white;
    /* box-shadow: 10px 10px 4px #641a1a; */
   
  }

/* a {
    color: white
} */
a:hover{
    color: rgb(186, 129, 8);
}
.dog_card{
    background-color: blue;

}

.profiledog{
    background-image:url('../images/logo2ee.jpg');
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    color: white;

}