@media screen and (max-width: 770px) {
  .register-card{
    margin: 5%;

  
    color: white;
    text-align: center;
    font-weight: 300;
    width: 100%;
    font-weight: 500;

    background-color: rgba(218, 165, 32);
    /* box-shadow: 1px 2px 2px; */
  
  }
}

  @media screen and (min-width: 770px) {
    .register-card{
          
      color: black;
      text-align: center;
      font-weight: 300;
      width: 100%;
      font-weight: 500;
  
      /* background-color: rgba(218, 165, 32); */
      /* box-shadow: 1px 2px 2px; */
    
    }


  }

  .register-card-p{
    font-size: 1.3rem;
  }

  .register-card-deep{
    opacity: 1;
  }


  .registration_title{
    background-color: rgba(218, 165, 32);
    width: 100%;
    color: white;
  }

  .registration_text{
    background-color: rgba(218, 165, 32);

  }

  .register_card_col{
    border-left: 5px solid white ;

  }

.pedcar{
    display: flex;
    flex-direction: row;
}

.puppies{
  width: 100%;
}
  .FORM {
    background-color: inherit;
    width: 100%;
    color: s;
    padding: 5%;
    border: 1px solid rgba(218, 165, 32);
  
    
  }

  #inputName{
    width: 100%
  }

  #inputDam{
    width: 100%;
  }

  .dog_reg_full{
    background-image: url('../images/logo2ee.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    width: 100%;
}

  .form-group{
      color: white;
     
  }


