.shows_full{
    /* background-image: url('../images/logo2ee.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover; */
    /* background-color: white;
    width: 100%;
    color: rgb(186, 129, 8); */

  }

  
  .shows_text{
      color: inherit;
      display: flex;

      padding: 5%;
      background-color:  rgb(186, 129, 8);
      /* width: 100%; */
      
    
      
  }

  .shows_main_text{
    display:flex;
    flex-direction: column;
    /* background-image: url('../images/shows_3_preview.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover; */
    
  }

 
  
.h1_judges{
    animation: enlarge 10s infinite ;
    animation-timing-function: ease;
    
    color: white
}

.p_apply{
  color: black;
}
  
  .shows_img {
    width: 100%;
    height: 100%;
}

  .shows_img_col{
      display: flex;
  }